{
    "tabWidth": 4,
    "singleQuote": true,
    "printWidth": 160,
    "trailingComma": "all",
    "overrides": [{
        "files": "*.json",
        "options": {
            "tabWidth": 2,
            "printWidth": 1000
        }
    }]
}